body {
	background-color: #090c08;
    color: #e9ecef
}

ul { 
    list-style: none;  
    font-size: 20px;
} 

li::before {
    content: "\2605"; 
    color: yellow;  
	
    font-weight: bold;
    padding-right: 10px;
}

h1 {
    font-size: 50px;
}

#actuallinks {
    font-size: 25px;
}

#iboughtwhiskey {
    display: block;
    margin: auto;
}

.videothingy {
    text-align: center;
}