html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #000;
}
.main {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1.25);
    font-size: 2em;
    text-align: center;
}
.h1-button {
    background: none;
    border: none;
    padding: 0px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    font-size: 2em;
    display: inline-block;
}

.h1-button h1 {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
    text-shadow: 1px 1px 0 #ffffff, -1px 1px 0 #ffffff, 1px -1pxrgb(255, 255, 255)000, -1px -1px 0 #ffffff;
    color: rgb(255, 255, 255);
}

.main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    transform: scaleX(0.8);
    font-size: 0.65em;
    text-align: center;
    color: white;
}

.main a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

a:active {
    color: white;
}

.colormode {
    size: 5em;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    
    .h1-button {
        font-size: 1.5rem;
    }
    
    button {
        width: 100%;
        box-sizing: border-box; 
    }
}
