html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: #000000;
}
.welcome {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1.25);
    font-size: 2em;
    text-align: center;
}

.aboutme {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    left: 50%;
    font-size: 2em;
    text-align: center;
}

.aboutme img {
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}

.cat-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cat-gallery div {
    text-align: center;
    color: white;
}

.cat-gallery p {
    scale: 90%;
}

.cat-gallery img {
    max-width: 450px;
    height: auto;
    border-radius: 10px;
}



.languagelist {
    list-style: disc;
}

.colormode {
    size: 5em;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    
    .h1-button {
        font-size: 1.5rem;
    }
    
 
    button {
        width: 100%;
        box-sizing: border-box; 
    }
}